 body{
    background:linear-gradient(turquoise,white);
    font-family:'Times New Roman', Times, serif;
 }
  .copy-right-footer{
    
    background:white;
position: fixed;
bottom: 0;
font-size: 20;
text-align:center ;
line-height: 3;
width: 100%;
font-family:'Courier New', Courier, monospace;
  }